/*Jacob Breault, 8/29/2021, Module 4.2 Assignment*/
html, body {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}

#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

h1, h2, h3, h4 {
    color: blue;
    background-color: bisque;
    border-style: solid;
    border-width: 1px;
    border-color: #D6A800;
    padding: 10px;

}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    color: lightblue;

}

a:visited {
    color: purple;
}